.demo1{
    display: inline-block;
    background-color: antiquewhite;
    border:8px solid yellowgreen;
}
.demo2{
    display: inline-block;
    background-color: antiquewhite;
    border:8px dashed purple;
}
.demo3{
    display: inline-block;
    background-color: antiquewhite;
    border:8px dotted burlywood;
}
.demo4{
    display: inline-block;
    background-color: antiquewhite;
    border:8px double blue;
}
